* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    padding: 20px;
}

.grid-container {
    display: grid;
    /* grid-template-columns: repeat(auto, minmax(200px, 1fr)); */
    grid-gap: 20px;
}

.grid-item {
    border-radius: 10px;
    overflow: hidden;
    background-color: #080606;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.grid-item img {
    width: 100%;
    height: auto;
    display: grid;
    object-fit: fill;
}
